{% extends "_layouts/_default.html" %}

{% block title %} Projects - PDF Splitter {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>

    <nav class="breadcrumb-container">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">PDF Splitter</a>
            <a href="#!" class="breadcrumb">Projects</a>
            <!-- <a href="#!" class="breadcrumb">Third</a> -->
          </div>
        </div>
      </nav>

    <h2>Projects</h2>
    
    <p>
        <a class="waves-effect waves-light btn" href="/pdf-splitter/create-project">Create new project</a>
    </p>

    <table>
        <thead>
          <tr>
              <th>Title</th>
              <th>Filename</th>
              <th>Date</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>2020-12-04</td>
            <td>
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">file_download</i>
            </td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>2020-12-04</td>
            <td>
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">file_download</i>
            </td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>2020-12-04</td>
            <td>
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">file_download</i>
            </td>
          </tr>
        </tbody>
      </table>

    <p>
        <a class="waves-effect waves-light btn" href="/pdf-splitter/create-project">Create new project</a>
    </p>

    <!-- <h3>What is it?</h3> -->

    <!-- <p>This is a tool that helps to split a PDF file into separate pages.</p>

    <h3>Instructions</h3>
    
    <p>Please read the following instructions to understand how the pdf-splitter works.</p>

    <ol>
        <li>Create a project</li>
        <li>Upload PDF file</li>
        <li>Configure split options</li>
        <li>Preview</li>
        <li>Download results</li>
    </ol> -->

    <form enctype="application/x-www-form-urlencoded" method="POST">

    </form>


</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}