{% extends "_layouts/_default.html" %}

{% block title %} Projects - PDF Splitter {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>

    <nav class="breadcrumb-container">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">PDF Splitter</a>
            <a href="#!" class="breadcrumb">Projects</a>
            <!-- <a href="#!" class="breadcrumb">Third</a> -->
          </div>
        </div>
      </nav>

    <h2>Projects</h2>
    
    <p>
        <a class="waves-effect waves-light btn" href="/pdf-splitter/create-project">Create new project</a>
    </p>

    <table>
        <thead>
          <tr>
              <th>Title</th>
              <th>Filename</th>
              <th>Date</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          
          {% for project in projects %}
              <tr>
                <td>{{project.title}}</td>
                <td>{{project.filename}}</td>
                <td>{{project.upd_dt}}</td>
                <td>
                    <a href="/pdf-splitter/project/{{project._id}}" title="Edit"><i class="material-icons">mode_edit</i></a>
                    <a href="/pdf-splitter/project/{{project._id}}" title="Download"><i class="material-icons">file_download</i></a>
                    <!-- <i class="material-icons">file_download</i> -->
                </td>
              </tr>
          {% endfor %}

        </tbody>
      </table>

    <p>
        <a class="waves-effect waves-light btn" href="/pdf-splitter/create-project">Create new project</a>
    </p>
    
    <form enctype="application/x-www-form-urlencoded" method="POST"></form>

</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}