{% extends "_layouts/_default.html" %}

{% block title %} Create project - PDF Splitter {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>

    <nav class="breadcrumb-container">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/pdf-splitter" class="breadcrumb">PDF Splitter</a>
            <a href="/pdf-splitter/projects" class="breadcrumb">Projects</a>
            <a href="/pdf-splitter/create-project" class="breadcrumb">Create Project</a>
          </div>
        </div>
      </nav>

    <h2>Create project</h2>
    

    <div class="row">
      <form class="col s12" action="#" enctype="application/x-www-form-urlencoded" method="POST">
        
        <div class="row">
          <div class="input-field col s6">
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Project title</label>
          </div>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        
        <p>
          <a class="waves-effect waves-light btn" title="Save project and continue">Save project</a>
        </p>
      </form>
    </div>


</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}