main, nav {
    padding: 0 1.678em;
}

.g-signin2 {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumb-container {
    margin-top: .678em;
}

dl.news dt {
    font-weight: bold;
}
dl.news dd {
    margin:0;
}

.large-text, .large-text .select-dropdown {
    font-size:large !important;
}

.x-large-text, .x-large-text .select-dropdown {
    font-size:x-large !important;
}

.xx-large-text, .xx-large-text .select-dropdown {
    font-size:xx-large !important;
}