{% extends "_layouts/_default.html" %}

{% block title %} home {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="{{google_client_id}}">
<script src="https://apis.google.com/js/platform.js" async defer></script>

{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="columns">
          
          <div class="column col-4">
            
          </div>

          <div class="column col-4">

            <h2>Login</h2>

            <p>
              
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </p>

            <p>
              <a href="#" onclick="signOut();">Sign out</a>
            </p>


            <form enctype="application/x-www-form-urlencoded" method="POST">
                <!-- form validation class: has-success -->
                <div class="form-group has-success">
                  <label class="form-label" for="input-email">Email</label>
                  <input class="form-input" type="text" id="input-email" name="input_email" placeholder="email-address">
                  <p class="form-input-hint">The name is invalid.</p>
                </div>
              
                <!-- form validation class: is-success -->
                <div class="form-group">
                  <label class="form-label" for="input-password">Password</label>
                  <input class="form-input is-success" type="password" id="input-password" name="input_password" placeholder="...">
                  <p class="form-input-hint">The password is invalid.</p>
                </div>
              
                <!-- form validation example for checkbox, radio and switch -->
                <div class="form-group">
                  <label class="form-checkbox is-error">
                    <input type="checkbox">
                    <i class="form-icon"></i> Remember me
                  </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login </button>
                    
                </div>
              </form>

          </div>
          <div class="column col-4"></div>
        </div>
    </div>



</main>

{% endblock %}


{% block scripts %}

<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());
    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);

    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          if (this.response.length > 0) {
            location.href = this.response;
          }
       }
    };
    xhr.open('POST', '/authorize' + window.location.search);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send('idtoken=' + id_token);

  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}