{% extends "_layouts/_skeleton_default.html" %}

{% block title %} Note {% endblock %} 

{% block linktags %}
<meta name="description" content="Note" /> 


{% endblock %}

{% block content %}

<!-- <h1>Hello world</h1> -->

<div class="search-container">
    <div class="search-bar">
        <input type="text" class="search" id="input_search_text" name="input_search_text" placeholder="Search text or help" />
    </div>
    
    <div class="search-results grid-content" id="search_results">
        
        <p>You currently have no notes.</p>
        <!-- 

        <form style="height: 100%; margin: 0;"></form>
         -->
            
        

        <!-- 
        <div class="loader">
            <div class="loader2"></div>
        </div>


        <p>asd</p>

        <div class="loader3">
            <div class="loader4"></div>
        </div> -->



        <!-- <table class="u-full-width">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dave Gamache</td>
                <td>26</td>
                <td>Male</td>
                <td>San Francisco</td>
              </tr>
              <tr>
                <td>Dwayne Johnson</td>
                <td>42</td>
                <td>Male</td>
                <td>Hayward</td>
              </tr>
            </tbody>
        </table> -->

        <!-- <p>search results</p> -->

    </div>

    <div class="action-bar grid-content">
        
        <div>
            <button type="button" id="add_new_note_button">Add new note</button>

            <div id="tag_panel"></div>
            
            <!-- 
            <a href="/classifier">Classifier</a>
            <a href="/research">Research</a>
            <a href="/">Home</a>
            action-bar
             -->
        </div>
    </div>
    

</div>



{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/js/jquery/jquery-3.5.1.min.js"></script>
<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    (function($) {
        "use strict";

        const p = {
            input_searchbox : null,
            add_new_note_button : null, 
            note_doc_id : null,

            setup : function() {
                console.log("Setup start");

                p.add_new_note_button = $("#add_new_note_button");
                p.add_new_note_button.click(function(e) {
                    // Clear results
                    // Add textarea
                    // Init editor
                    $("div.search-results").children().remove();
                    $("div.search-results").prepend(
                        //$("<input>").attr("type", "text").attr("placeholder", "title").addClass("doc-title"),
                        $("<textarea>").attr("id", "mytextarea")
                    );

                    p.init_editor();
                });

                p.input_searchbox = $("#input_search_text");
                p.input_searchbox.change(function(e) {
                    if (e.target.value.trim().length > 0) {
                        console.debug("Do ajax search %s", e.target.value);
                        p.do_ajax_search(e.target.value);
                    }
                    e.target.value = "";
                });

                console.log("Setup end");
            },

            init_editor : function() {
                tinymce.init({
                    selector: '#mytextarea',
                    auto_focus : "mytextarea",
                    height: '100%',
                    resize: false,
                    branding: false,
                    plugins: ['table', 'save', 'link', 'image', 'code'],
                    //menubar: 'table',
                    //toolbar: 'table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'
                    toolbar: 'save | undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image | code',
                    save_oncancelcallback: function () { console.log('Save canceled'); },
                    save_onsavecallback: p.do_ajax_save
                });
            },
            do_ajax_save : function() {
                var myContent = tinymce.get("mytextarea").getContent();
                console.log('Saved: [%s]', myContent); 

                $.ajax({
                    method: "POST",
                    url: "/api/note/save",
                    dataType: "json",
                    data: { "content": JSON.stringify(myContent), "doc_id" : p.note_doc_id }
                }).done(function(result) {
                    console.log("Save %s", result);
                });

            },

            do_ajax_search : function(search_text) {
                
                console.log("start=do_ajax_search|%s", search_text);

                $.ajax({
                    method: "POST",
                    url: "/api/note/search",
                    dataType: "json",
                    data: { "search_text": search_text }
                }).done(function( search_results ) {

                    console.log("Search results: %s", search_results);

                    var idx = 0;
                    var $tbl = $("<table>").addClass("u-full-width");
                    var $thead = $("<thead>").prepend(
                            $("<tr>").prepend(
                                $("<th>").text("Domain"),
                                $("<th>").text("Link count")
                            )
                        );
                    var $tbody = $("<tbody>");
                    for (idx = 0; idx < search_results.length; idx = idx + 1) {
                        var result = search_results[idx];
                        $tbody.append(
                            $("<tr>").prepend(
                                $("<td>").text(result[0]),
                                $("<td>").text(result[1])
                            )
                        );
                    }

                    $tbl.prepend($thead, $tbody);

                    // Clear and add table
                    $("div.search-results").children().remove();
                    $("div.search-results").prepend(
                        $("<h1>").text("Top 1000 results"),
                            $tbl
                    );

                    //debugger;
                });

                console.log("end=do_ajax_search");
            }
        };

        $(document).ready(function(e) {
            p.setup();
        });
    }(jQuery));
</script>

{% endblock %}