{% extends "_layouts/_default.html" %}

{% block title %} home {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

{% if valid_app_token %}

<!-- <nav class="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Settings</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Change avatar</a>
        </li>
    </ul>
</nav> -->

<main>

  <div class="row">

    <div class="col s7">

      <h3>Your projects</h3>
      
      <table>
        <thead>
          <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Last updated</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            
            <td><a href="#">asd1.pdf</a></td>
            <td>PDF Splitter</td>
            <td>2020-12-05</td>
          </tr>
          <tr>
            <td><a href="#">asd2.pdf</a></td>
            <td>PDF Splitter</td>
            <td>2020-12-05</td>
          </tr>
          <tr>
            <td><a href="#">asd3.pdf</a></td>
            <td>PDF Splitter</td>
            <td>2020-12-05</td>
          </tr>

        </tbody>
      </table>

    </div><!-- Your projects -->


    <div class="col s4 offset-s1">
      <h2>Updates</h2>

      <dl class="news">
        
        <dt>2020-12-05 updates</dt>
        <dd>
          <ol>
            <li>Fix bugs with regards to using Google web sign-in</li>
            <li>Continue works on PDF Splitter</li>
          </ol>
        </dd>
  
        <dt>2020-12-04 updates</dt>
        <dd>
          <ol>
            <li>Initial deployment to production environment</li>
            <li>Add PDF Splitter module</li>
          </ol>
        </dd>
      </dl>
    </div><!-- Updates-->

  </div>

</main>

{% else %}{# Display for unauthenticated users #}

<div class="container">
    <div class="columns">
        <div class="column col-3"></div>

        <div class="column col-6">
            <div class="hero">
                <div class="hero-body">

                    <h1>HCI</h1>

                    <h3>Computer logon (authorized users only)</h3>
                  
                    <p>
                        This computer system is the property of Emptool.
                        It is for authorized use only. By using this system, all users acknowledge notice of, 
                        and agreement to comply with the published policy Acceptable User of Electronic Communication
                        Services Agreement ("AUP"), available <a href="#"">here</a>
                    </p>
                
                    <p>
                        Unauthorized or improper use of this system may result in administrative disciplinary action, civil charges/criminal penalties and/or other sanctions as set forth in AUP.
                        By continuing to use this system, you indicate you awareness and of concent to these terms and conditions of use.
                    </p>

                    <p>
                        <!-- <a href="/login" class="btn btn-primary">Continue</a> -->
                        <div class="g-signin2" data-onsuccess="signIn"></div>
                    </p>
                    </div>
            </div>

        </div>
        <div class="column col-3">&nbsp;</div>
    </div>
</div>

{% endif %}

{% endblock %}


{% block scripts %}
<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}