{% extends "_layouts/_default.html" %}

{% block title %} home {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>
    <h2>PDF Splitter</h2>

    <h3>What is it?</h3>

    <p>This is a tool that helps to split a PDF file into separate pages.</p>

    <h3>Instructions</h3>
    
    <p>Please read the following instructions to understand how the pdf-splitter works.</p>

    <ol>
        <li>Create a project</li>
        <li>Upload PDF file</li>
        <li>Configure split options</li>
        <li>Preview</li>
        <li>Download results</li>
    </ol>

    <form enctype="application/x-www-form-urlencoded" method="POST">

    </form>


</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}