{% extends "_layouts/_default.html" %}

{% block title %} Assignments {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>
    <h2>Assignments</h2>

    <p>
        Use this page to assign applications and roles to users or vice-versa.
    </p>

    <div class="row">
        <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#assignApplication">Applications</a></li>
            <li class="tab col s3"><a href="#assignRole">Roles</a></li>
            <li class="tab col s3"><a href="#assignUser">Users</a></li>
        </ul>
        </div>

        <div id="assignApplication" class="col s12">

            <h3>Assign applications to users</h3>

            <form class="col 12" id="assignApplication_user" enctype="application/x-www-form-urlencoded" method="POST"></form>
            
                <div class="row">


                    <div class="hide">

                        <div class="input-field col s3">
                            <input placeholder="User email" id="input_user_email" name="user_email" type="text" class="validate">
                            <label for="input_user_email">User email</label>
                        </div>
                    
                        <div class="input-field col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action" value="add_application">Add user
                                <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </div>
                    
                    
                </div>
            </form>
        

            <div id="assignApplication_user_list" class="row">

                <div class="row">

                    <h4 style="float:left;">List of users who have access to</h4>
                    <div class="input-field col s3" style="font-size:large">
                        <select id="application_list">
                        <option value="" disabled selected>Choose application to assign</option>
                        </select>
                        <label>Select application</label>
                    </div>
                    
                    
                </div>

                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                    </thead>
            
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Eclair</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jellybean</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div><!-- assignApplication_user_list -->


        </div><!-- assignApplication -->

        <div id="assignRole" class="col s12">

            <p>Assign roles to users</p>

        </div><!-- assignRole -->

        <div id="assignUser" class="col s12">

            <p>Assign users to applications and roles</p>

        </div><!-- assignUser -->
    </div>

    <!-- 

    <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Application name</th>
          </tr>
        </thead>

        <tbody>
          {% for application in application_list %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{application.application_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    -->

    <!-- 
    <h3>Add application</h3>

    <div class="row">
        
        <form class="col s12" enctype="application/x-www-form-urlencoded" method="POST">
            
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Application name" id="input_application_name" name="application_name" type="text" class="validate">
                    <label for="input_application_name">Application</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action" value="add_application">Add application
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        
        </form>
    </div>
    -->

</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}
<script src="/js/data/applications.json"></script>
<script type="text/javascript">
    const pp = {
        tabs : null, 
        selects : null, 
        applicationSelect : null,
        assignApplication_user_list : null,

        applicationSelected : function(e) {
            console.log("Selected %s", e.target.value);
            // let ele_list = document.getElementsByClassName("assignApplication selected");
            // for (idx in ele_list) {
            //     ele_list[idx].textContent = e.target.value;
            // }

            pp.get_application_users(e.target.value);

            pp.assignApplication_user_list.classList.remove("hide");
        },

        get_application_users : function(application_name) {
            let xhr = new XMLHttpRequest();
            xhr.onload = function() {
                console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.response.length > 0) {
                        //location.href = this.response;
                        console.log("Response:%s", this.response);
                    }
                }
            };
            xhr.open('POST', '/api/administration');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('application_name=' + application_name);
        },

        documentReady : function() {
            let idx, selectOptions;

            pp.assignApplication_user_list = document.getElementById("assignApplication_user_list");

            pp.applicationSelect = document.getElementById("application_list");
            pp.applicationSelect.addEventListener("change", pp.applicationSelected);
            selectOptions = pp.applicationSelect.options;

            for (idx in applications) {
                selectOptions[selectOptions.length] = new Option(applications[idx], applications[idx]);
            }

            pp.tabs = M.Tabs.init(document.querySelector('.tabs'));
            pp.selects = M.FormSelect.init(document.querySelectorAll('select'), {
                "classes" : "x-large-text"
            });
        },
    };
    (function() {
        if (document.readyState === "complete" || (document.readyState !== "loading" && !document.documentElement.doScroll)) 
            pp.documentReady();
        else
            document.addEventListener("DOMContentLoaded", pp.documentReady);
    }());
</script>

{% endblock %}