{% extends "_layouts/_default.html" %}

{% block title %} Roles {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>
    <h2>Roles</h2>

    <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Role name</th>
          </tr>
        </thead>

        <tbody>
          {% for role in role_list %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{role.id}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <h3>Add roles</h3>

    <div class="row">
        
        <form class="col s12" enctype="application/x-www-form-urlencoded" method="POST">
            
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Role name" id="input_role_name" name="role_name" type="text" class="validate">
                    <label for="input_role_name">Role</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action" value="add_role">Add role
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        
        </form>
    </div>

</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}